<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Codes</title>
</head>
<body>

<h1>FORM</h1>
<form action="#" th:action="@{/codes}" th:object="${voucher}" method="post">
    <!--<p>Value: <input type="text" th:field="*{value}" /></p>-->
    <!--<p>Voucher code: <input type="text" th:field="*{voucherCode}" /></p>-->
    <!--<p>Serial: <input type="text" th:field="*{serialNumber}" /></p>-->
    <p>codes: <textarea rows="20" cols="80" th:field="*{vouchers}"></textarea></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>