<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>data</title>
</head>
<body>

<form action="#" th:action="@{/new}" th:object="${newtemp}" method="post">

    <select th:field="*{offerId}">

        <option th:each="auction : ${auctions.getOffers()}" th:value="${auction.getId()}" th:text="${auction.getName()}"></option>

    </select>
    <p>Message: <input type="text" th:field="*{text}" /></p>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

</form>

</body>
</html>